body {
    background-color: #121212;
    color: white;
    font-family: Arial;
    margin: 0;
}

header {
    padding: 20px;
    text-align: center;
    background: #1f1f1f;
}

input {
  padding: 10px;
  width: 90%;
  max-width: 400px;
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie {
    margin: 15px;
    width: 200px;
}

.movie img {
    width: 100%;
    border-radius: 10px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.modal-content {
  background: #1c1c1c;
  margin: 10% auto;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  color: white;
}

.movie {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.movie:hover {
  transform: scale(1.05);
}

#closeModal {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .modal-content img {
    width: 100%;
  }

  h1 {
    font-size: 20px;
  }
}